.html {
    height: 100%;
    display: grid;
    justify-items: center;
    font-size: 16px;
    --black: rgb(18, 18, 18);
    --bright-green: rgb(43, 253, 157);
}

.body {
    background-color: var(--black);
    max-width: 1024px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.header {
    position: sticky;
    top: 10px;
    margin: 10px 20px 50px 20px;
}

.main {
    display: grid;
    grid-template-columns: repeat(8, minmax(100px, 1fr));
    grid-auto-rows: 70px;
    grid-gap: 15px;
    margin: 0px 20px;
}

.search-box {
    display: grid;
    grid-template-columns: repeat(8, minmax(10px, 1fr));
    height: 40px;
}

.search-box__input {
    font-size: 1.125rem;
    padding: 0px 20px;
    grid-column: span 7;
    border: 0;
}

.search-box__button {
    background: linear-gradient(45deg, rgb(153, 51, 255) 0%, rgb(255, 102, 102) 100%);
}

.search-box__button:hover,
.information-box__button:hover {
    cursor: pointer;
}

.information-box {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr;
    align-items: center;
    margin-top: 10px;
}

.search-box__button:focus,
.information-box__button:focus,
.search-box__input:focus {
    border: none;
    outline: none;
}

.information-box__label {
    background-color: var(--bright-green);
    color: var(--black);
    font-weight: bold;
    font-size: 0.625rem;
    padding: 2px 25px;
    justify-self: start;
}

.information-box__text {
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.information-box__container--buttons {
    margin-left: auto;
    margin-right: 0;
}

.information-box__button {
    background-color: rgb(33, 33, 33);
    border: none;
    color: white;
    font-size: 0.75rem;
    font-style: italic;
    border-radius: 20px;
    padding: 10px 10px;
}

.information-box__button:hover {
    color: var(--black);
    background-color: var(--bright-green);
}

.gif {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gif__wrapper {
    grid-column: span 2;
    grid-row: span 2;
}

.gif__wrapper:nth-child(3) {
    grid-column: span 4;
    grid-row: span 4;
}

@media (max-width: 960px) {
    .body {
        margin: 30px;
    }

    .main {
        grid-template-columns: repeat(2, minmax(150px, 1fr));
        grid-auto-rows: 180px;
    }

    .gif__wrapper,
    .gif__wrapper:nth-child(3) {
        grid-column: span 1;
        grid-row: span 1;
    }

    .information-box {
        grid-template-columns: 1fr 2fr;
    }

    .information-box__label {
        display: none;
    }

    .information-box__text {
        padding-left: 5px;
    }

    .information-box__button {
        font-size: 0.625rem;
    }


}

@media (max-width: 560px) {
    .main {
        grid-template-columns: minmax(250px, 1fr);
        grid-auto-rows: 150px;
    }

    .information-box {
        grid-template-columns: 1fr;
    }

    .information-box__text {
        text-align: center;
    }

    .information-box__container--buttons {
        margin: 0 auto;
    }
}
.loadmore-box{
    display: grid;
    grid-template-columns: repeat(8, minmax(10px, 1fr));
    height: 60px;
}
.loadmore-button{
    background-color: var(--bright-green);
    grid-column: span 8;
    font-size: 1.125rem;
    margin: 10px 20px;

    border: 0;
}